* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


a {
    color: #2e4258;
  }
  a:hover, a:active, a:focus {
    color:#c33;
  }


.page .navigation {
    display: inline-block;
    z-index: 10;
    position: fixed;
    background-color: rgb(120, 177, 120);
    width: 400px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page .navigation .nav_content{
    margin: auto;
    text-align: center;
    padding: 200px 0px;
}

.profile_pic {
    width: 200px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 2px solid green;
}

h1 {
    margin-bottom: 20px;
}

.nav_content .nav_list{
    font-size: 30px;
}

li {
    margin-bottom:20px;
}

.page .main {
    display: inline-block;
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(253, 210, 14);
    padding-left: 30%;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: scroll;
}

.hover_image {
    width: 300px;
}

.hover_box{
    display: flex;
    height: 300px;
    width: 1000px;
    background-color: rgb(250, 246, 202);
    margin: 50px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover_box:hover{
    animation-name: floating;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -8px); }
    to   { transform: translate(0, -0x); }    
}

@media(max-width: 1200px){
    .page .navigation{
        width: 100%;
        height: 50px;
    }

    h1{
        font-size: 40px;
        margin-top: -194px;
        margin-left: 20px;
        margin-right: 100px;
    }

    .nav_content {
        display: flex;
        justify-self: center;
    }

    .nav_content .nav_list{
        margin-top: -183px;
        padding-right: 40px;
        font-size: 18px;
        display: flex;
        justify-self: center;    
    }

    .nav_list_content{
        padding-right: 50px;
    }

    .profile_pic{
        display: none;
    }

    .main{
        justify-content: center;
    }
}